<mat-toolbar class="app-title">Register movie</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50">
    <form
      autocomplete="off"
      novalidate
      [formGroup]="formRegister"
      (ngSubmit)="onSubmit()"
      (ngReset)="onResetForm()"
    >
      <mat-card-content>
        <!-- Title -->
        <app-input-text
          label="Title"
          controlName="title"
          [formGroup]="formRegister"
        ></app-input-text>
      </mat-card-content>

      <mat-card-actions>
        <button type="reset" color="warn" mat-raised-button>Cancel</button>
        <button type="submit" color="primary" mat-raised-button>Save</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
