<section class="section-title">
  <h1 class="title">{{ title }}</h1>
</section>

<div class="main-div">
  <mat-card class="center width50">
    <form
      autocomplete="off"
      novalidate
      [formGroup]="formRegister"
      (ngSubmit)="onSubmit()"
    >
      <mat-card-content>
        <div class="dflex">
          <!-- Title -->
          <app-input-text
            class="width50"
            label="Title"
            controlName="title"
            [formGroup]="formRegister"
          ></app-input-text>

          <!-- URL Photo -->
          <app-input-text
            class="width50"
            label="Url Photo"
            controlName="urlPhoto"
            [formGroup]="formRegister"
          ></app-input-text>
        </div>

        <div class="dflex">
          <!-- Url IMDb -->
          <app-input-text
            class="width50"
            label="Url IMDb"
            controlName="urlIMDb"
            [formGroup]="formRegister"
          ></app-input-text>

          <!-- Genre -->
          <app-input-select
            class="width25"
            label="Select genre"
            controlName="genre"
            [formGroup]="formRegister"
            [options]="genres"
          ></app-input-select>

          <!-- Date Release -->
          <app-input-date
            class="width25"
            label="Date Release"
            controlName="dateRelease"
            [formGroup]="formRegister"
          ></app-input-date>
        </div>

        <div class="dflex">
          <!-- Description -->
          <app-input-textarea
            class="full-width"
            label="Description"
            controlName="description"
            [formGroup]="formRegister"
          ></app-input-textarea>
        </div>
      </mat-card-content>

      <mat-card-actions class="actions float-right">
        <button color="warn" mat-raised-button (click)="cancel()">
          Go to the list
        </button>
        <button type="submit" color="primary" mat-raised-button>Save</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
