@import "assets/styles/reset.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  margin: 10px auto;
}

.width50 {
  width: 50%;
}

.margin4 {
  margin: 4px;
}

.width75 {
  width: 75%;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin10 {
  margin: 10px;
}

.padding10 {
  padding: 10px;
}

.marginTop-padding {
  padding: 20px;
  margin-top: 40px;
}

.break-line {
  white-space: pre-line;
}

@media (max-width: 768px) {
  .width50 {
    width: 100% !important;
  }
}

.mat-card-image {
  margin-bottom: 10px !important;
}
