<mat-toolbar class="app-title">List of films</mat-toolbar>

<mat-card class="center margin10 filter-listing">
  <form autocomplete="off" novalidate [formGroup]="formListing">
    <div class="width50">
      <app-input-text
        label="Search"
        controlName="search"
        edit-
        [formGroup]="formListing"
      ></app-input-text>
    </div>
  </form>
</mat-card>

<div class="home-content" *ngIf="movies?.length; else noRecords">
  <mat-card class="home-card" *ngFor="let movie of movies">
    <mat-card-header class="main-div">
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle>{{ movie.genre }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="movie.urlPhoto || noPhoto" />

    <mat-card-content>
      <p class="break-line">
        {{ movie.description || noDescription }}
      </p>
    </mat-card-content>

    <mat-card-actions class="float-right">
      <button type="reset" color="warn" mat-raised-button>Delete</button>
      <button
        type="submit"
        color="primary"
        mat-raised-button
        (click)="edit(movie.id)"
      >
        Edit
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #noRecords>
  <div class="main-div full-width marginTop-padding">
    <h1>Nenhum registro encontrado!</h1>
  </div>
</ng-template>
