.home-content {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  justify-content: space-between;
  padding: 10px;
  margin-top: 135px;

  .home-card {
    margin-bottom: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .home-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.filter-listing {
  width: calc(100% - 50px);
  position: fixed;
  z-index: 9999;
  margin: 0 auto;
}

.mat-card-image {
  width: 180px;
  height: 180px;
  margin: auto;
  display: block;
}

.marginTop-padding {
  margin-top: 180px;
}

@media screen and (min-width: 525px) {
  .home-content {
    .home-card {
      width: calc(50% - 52px);
    }
  }
}

@media screen and (min-width: 800px) {
  .home-content {
    .home-card {
      width: calc(33.333% - 52px);
    }
  }
}

@media screen and (min-width: 1300px) {
  .home-content {
    .home-card {
      width: calc(25% - 52px);
    }
  }
}
