<mat-toolbar class="app-title">List of films</mat-toolbar>

<mat-card class="center margin10 filter-listing">
  <form autocomplete="off" novalidate [formGroup]="formListing">
    <div class="width50">
      <app-input-text
        label="Search"
        controlName="search"
        [formGroup]="formListing"
      ></app-input-text>
    </div>
  </form>
</mat-card>

<div class="home-content" *ngIf="movies.length; else noRecords">
  <mat-card class="home-card" *ngFor="let movie of movies">
    <mat-card-header>
      <div mat-card-avatar></div>

      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle>Check this Home</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="../assets/img/angular-cli.png" alt="Angular CLI" />

    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora,
        dignissimos nemo illum, fuga, nesciunt deleniti culpa quaerat impedit ex
        nostrum consequatur eius?
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button color="warn" mat-raised-mat-stroked-button>Open</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #noRecords>
  <div class="main-div full-width marginTop-padding">
    <h1>Nenhum registro encontrado!</h1>
  </div>
</ng-template>
